services:
  - type: web
    name: flask-study-monitoring
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn --bind 0.0.0.0:$PORT app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: GEMINI_API_KEY
        sync: false
      - key: YOUTUBE_API_KEY
        sync: false
      - key: RESEND_API_KEY
        sync: false
      - key: REACT_DASHBOARD_URL
        sync: false
